@import "tailwindcss";
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.9s ease forwards;
  animation-delay: 0.13s;
  white-space: pre-wrap;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@layer utilities {
  .font-garamond { font-family: var(--font-ebgaramond), serif; }
  .font-tinos { font-family: var(--font-tinos), serif; }
  .font-playfair { font-family: var(--font-playfair), serif; }
  .font-lora { font-family: var(--font-lora), serif; }
  .font-libre { font-family: var(--font-libre-bodoni), serif; }
}
